In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

%matplotlib inline
sns.set(rc={'figure.figsize': [20, 20]}, font_scale=1.4)

In [6]:
df = pd.read_csv('hypothyroid.csv')
df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,P
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,P
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,P
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,P
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,f,?,other,P
3768,68,F,f,f,f,f,f,f,f,f,...,t,124,t,1.08,t,114,f,?,SVI,P
3769,74,F,f,f,f,f,f,f,f,f,...,t,112,t,1.07,t,105,f,?,other,P
3770,72,M,f,f,f,f,f,f,f,f,...,t,82,t,0.94,t,87,f,?,SVI,P
3771,64,F,f,f,f,f,f,f,f,f,...,t,99,t,1.07,t,92,f,?,other,P

In [8]:
df.describe().T

                          count unique    top  freq
age                        3772     94     59    95
sex                        3772      3      F  2480
on thyroxine               3772      2      f  3308
query on thyroxine         3772      2      f  3722
on antithyroid medication  3772      2      f  3729
sick                       3772      2      f  3625
pregnant                   3772      2      f  3719
thyroid surgery            3772      2      f  3719
I131 treatment             3772      2      f  3713
query hypothyroid          3772      2      f  3538
query hyperthyroid         3772      2      f  3535
lithium                    3772      2      f  3754
goitre                     3772      2      f  3738
tumor                      3772      2      f  3676
hypopituitary              3772      2      f  3771
psych                      3772      2      f  3588
TSH measured               3772      2      t  3403
TSH                        3772    288      ?   369
T3 measured                3772      2      t  3003
T3                         3772     70      ?   769
TT4 measured               3772      2      t  3541
TT4                        3772    242      ?   231
T4U measured               3772      2      t  3385
T4U                        3772    147      ?   387
FTI measured               3772      2      t  3387
FTI                        3772    235      ?   385
TBG measured               3772      1      f  3772
TBG                        3772      1      ?  3772
referral source            3772      5  other  2201
binaryClass                3772      2      P  3481

In [10]:
df["binaryClass"].value_counts()

binaryClass
P    3481
N     291
Name: count, dtype: int64

In [12]:
df["binaryClass"]=df["binaryClass"].map({"P":0,"N":1})

In [14]:
df["pregnant"].value_counts()

pregnant
f    3719
t      53
Name: count, dtype: int64

In [16]:
df=df.replace({"t":1,"f":0})

C:\Users\HP\AppData\Local\Temp\ipykernel_8260\2701917258.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df=df.replace({"t":1,"f":0})

In [18]:
df['sex'].isnull().sum()

0

In [20]:
df["TBG"].value_counts()

TBG
?    3772
Name: count, dtype: int64

In [22]:
del df["TBG"]

In [24]:
df=df.replace({"?":np.NAN})

In [26]:
df.isnull().sum()

age                            1
sex                          150
on thyroxine                   0
query on thyroxine             0
on antithyroid medication      0
sick                           0
pregnant                       0
thyroid surgery                0
I131 treatment                 0
query hypothyroid              0
query hyperthyroid             0
lithium                        0
goitre                         0
tumor                          0
hypopituitary                  0
psych                          0
TSH measured                   0
TSH                          369
T3 measured                    0
T3                           769
TT4 measured                   0
TT4                          231
T4U measured                   0
T4U                          387
FTI measured                   0
FTI                          385
TBG measured                   0
referral source                0
binaryClass                    0
dtype: int64